
{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - login/signup form animation</title>
  <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="form-structor">
	<div class="signup">
		<h2 class="form-title" id="signup">
      <div class="centeralize">
        <img class="center img-responsive" style="width:150px;" src="{% static 'accounts/logo.png' %}" alt="">
      </div>
    </h2>
  		<div class="form-holder">
        {% csrf_token %}
  			<input type="username" id="signup_username" name="username" class="input" placeholder="Username" />
        <input type="job_title" id="signup_job_title" name="job_title" class="input" placeholder="Job Title" />
  			<input type="email"  id="signup_email" name="email" class="input" placeholder="Email" />
  			<input type="password" id="signup_pass1" name="password1" class="input" placeholder="Password" />
        <input type="password" id="signup_pass2" name="password2" class="input" placeholder="Confirm Password" />
  		</div>

        <div id="signup_messages" style="color:white" class="pl-3 mb-2 d-block centeralize"></div>

		  <button type="submit" id="signup_btn" class="submit-btn" name="signup">Sign up</button>
	</div>
	<div class="login slide-up">
		<div class="center">
			<h2 class="form-title" id="login"><span>or</span>Log in</h2>

			<div class="form-holder">
            {%csrf_token%}
            <input type="email" id="login_email" name="email" class="input" placeholder="Email">
            <input type="password" id= "login_pass" name="password" class="input" placeholder="Password">
			</div>
        <div id="login_messages" class="centeralize"></div>
			<button type="submit" name="login" id="login_btn" class="submit-btn">Log in</button>

		</div>
	</div>
  <style>
    .form-structor::after {

      /* background-color: rgb(238, 133, 29); */
      background-image: url("{% static 'accounts/10.jpeg' %}");
    }
  </style>
</div>
<!-- partial -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  {% include "accounts/script.html" %}

</body>
</html>
