
{% load static %}
<link rel="stylesheet" href="{% static 'css/context.standalone.css' %}">


<div class="position-fixed top-10% right-0% p-3" style="z-index: 5; right: 0; top: 0;">
  <div class="toast hide error" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
    <div class="toast-header bg-danger" style="color: white;">
        <i class="fas fa-exclamation-triangle"></i>
      <strong class="mr-auto ml-2">System</strong>
      <small>Now</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span style="color: white;" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body context-error">
    </div>
  </div>
</div>

{% if folders %}
<span class="badge text-muted mb-1 mt-4">Folders</span>
<div class="drive-wrapper drive-grid-view collapse_grid" id="collapse_grid">
    <div class="grid-items-wrapper">
      <div id="main-content" class="file_manager">
              <div class="container-fluid">
                  <div class="row clearfix">
                        {% for folder in folders %}
                          <div class="col-lg-3 col-md-4 col-sm-12">
                              <div class="card">
                                  <div id="{{folder.unique_id}}" class="file folder-context-menu">
                                    <div class="show_settings">

                                      <div class="hover">

                                          {% if perms.folder.delete_folder %}
                                            <h4><a data-toggle="modal" data-target="#id{{folder.unique_id}}"><i data-placement="top" title="" data-original-title="Delete Folder" data-toggle="tooltip" class="lni lni-trash-can delete icons"></i></a></h4>
                                          {% endif %}
                                          {% if perms.folder.can_rename_folder %}
                                            <h4><a data-toggle="modal" data-target="#id{{folder.unique_id}}rename"><i data-placement="top" title="" data-original-title="Rename Folder"  data-toggle="tooltip" class="lni lni-brush-alt copy"></i></a></h4>
                                          {% endif %}
                                          {% if perms.folder.can_download_folder %}
                                            <h4><a href="{% url 'folder:download' folder.unique_id %}"><i data-placement="top" title="" data-original-title="Download Folder"  data-toggle="tooltip" class="lni lni-arrow-down-circle download icons"></i></a></h4>
                                          {% endif %}
                                      </div>
                                    </div>
                                      <a href="{% url 'folder:folder' folder.unique_id %}">
                                          <div class="icon">
                                              <i class="fa fa-folder text-primary folder-icon" ></i>
                                          </div>
                                          <div class="file-name">
                                              <a title="{{ folder.name }}" href="{% url 'folder:folder' folder.unique_id %}"><p class="m-b-5 text-muted">{{ folder.name }}</p></a>
                                              <small>Files: {{folder.get_files_count}} <span class="date text-muted">{{folder.created_at}}</span></small>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                            </div>

                        {% if perms.folder.can_delete_folder %}
                          <!-- Delete Modal -->
                            <div class="modal fade" id="id{{folder.unique_id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">

                                  <div class="modal-body">
                                    Are you sure you want to delete this Folder?
                                      <div><small class="text-danger">This folder will be deleted permanently. You can't undo this action.</small></div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                                    <a href="{% url 'folder:delete_folder' folder.unique_id %}" type="button" class="btn btn-danger">Delete</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                      {% endif %}

                      {% if perms.folder.can_rename_folder %}
                      <!-- Rename Folder Modal -->
                          <div class="modal fade " id="id{{folder.unique_id}}rename" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header primary_bg">
                                    <h5 class="modal-title" id="CreateFolderModal">Rename Folder</h5>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">

                                    <form method="POST" action="{% url 'folder:rename_folder' folder.unique_id %}">
                                        {%csrf_token%}
                                        <div class="input-group mb-3">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-folder"></i></span>
                                          </div>
                                          <input type="text" value="{{folder.name}}" name="folder_new_name" class="form-control" placeholder="Folder Name" aria-label="Folder Name" aria-describedby="basic-addon1">
                                            <small class="text-muted">Note: In case folder name is more than 20 chars it will be truncated automatically to 20 chars.</small>
                                        </div>
                                        <button type="submit" class="btn primary float-right">Rename</button>

                                    </form>

                                  </div>

                                </div>
                              </div>
                            </div>

                      {% endif %}


                        {% endfor %}
                  </div>
              </div>
          </div>
    </div>
</div>
<div class="drive-wrapper drive-list-view d-none collapse_list" id="collapse_list">
    <div class="table-responsive drive-items-table-wrapper">
        {% if folders %}

          <table class="table">
              <thead>
                  <tr>
                      <th class="type"></th>
                      <th class="name truncate text-left">Name</th>
                      <th class="date text-left">Uploaded</th>
                  </tr>
              </thead>
              <tbody>
                  {% for folder in folders %}
                  <tr>
                      <td class="type">
                        <i class="fa fa-folder text-primary "></i>
                      </td>
                      <td class="name truncate"><a href="{% url 'folder:folder' folder.unique_id %}">{{folder.name|truncatechars:35}}</a></td>
                      <td class="date">{{folder.created_at}}</td>
                  </tr>
                  {% endfor %}

              </tbody>
          </table>
          {% endif %}
    </div>
</div>
{% endif %}

{% if files %}
<span class="badge text-muted mb-1 mt-4">Files</span>
<div class="drive-wrapper drive-grid-view collapse_grid" id="collapse_grid">
    <div class="grid-items-wrapper">
      <div id="main-content" class="file_manager">
              <div class="container-fluid">
                  <div class="row clearfix">
                      {% for file in files %}
                      <div class="col-lg-3 col-md-4 col-sm-12">
                          <div class="card">
                              <div id="{{file.unique_id}}" link="{{file.privacy.link}}" class="file file-context-menu">
                                <div class="show_settings">
                                  <div class="file_settings">
                                    <h4><a href="{% url 'file:file_settings' file.unique_id %}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sharing Settings"><i class="lni lni-users share icons"></i></a></h4>
                                  </div>
                                  <div class="uuid_link">
                                    <h4><a id="{{file.unique_id}}" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Copy UUID"><i onclick="CopyFileLink('{{ file.unique_id }}', '{{file.unique_id}}')" class="lni lni-share-alt-1"></i></a></h4>
                                  </div>

                                  <div class="hover">
                                    <h4><a id="link-{{file.unique_id}}" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Copy Link"><i onclick="CopyFileLink('{{ file.get_url }}', 'link-{{file.unique_id}}')" class="lni lni-link copy icons"></i></a></h4>
                                    {% if perms.file.can_download_file %}
                                        <h4><a href="{% url 'download' file.privacy.link %}" download data-toggle="tooltip" data-placement="top" title="" data-original-title="Download"><i class="lni lni-arrow-down-circle download icons"></i></a></h4>
                                    {% endif %}

                                    {% if perms.file.can_add_files_to_trash %}
                                        <h4><a href="{% url 'file:move_to_trash' file.unique_id %}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Move To Trash"><i class="lni lni-trash-can delete icons"></i></a></h4>
                                    {% endif %}
                                  </div>
                                </div>
                                  <a href="{{file.get_url}}" target="_blank">


                                      <div class="icon">
                                          {% if file.type == 'image/gif' %}
                                            <i class="fa-solid fa-photo-film text-danger"></i>
                                          {% elif file.category == 'images' %}
                                            <i class="fa-solid fa-image text-primary"></i>
                                          {% elif file.type == 'application/pdf' %}
                                            <i class="fa-solid fa-file-pdf text-success"></i>
                                          {% elif file.category == 'docs' %}
                                            <i class="fa-solid fa-file-word text-success"></i>
                                          {% elif file.category == 'media' %}
                                            <i class="fa-solid fa-clapperboard text-danger"></i>
                                          {% elif file.category == 'zip' or file.type == 'application/octet-stream' %}
                                            <i class="fa-solid fa-file-zipper text-warning"></i>
                                          {% else %}
                                            <i class="fa fa-file"></i>
                                          {% endif %}

                                      </div>
                                      <div class="file-name">
                                          <a title="{{ file.name }}" href="{{file.get_url}}" target="_blank"><p class="m-b-5 text-muted">{{file.name|truncatechars:35}}</p></a>
                                          <small>Size: {{file.size|filesizeformat}} <span class="date text-muted">{{file.uploaded_at}}</span></small>
                                      </div>
                                  </a>
                              </div>
                          </div>
                      </div>

                      {% if perms.file.can_rename_file %}
                      <!-- Rename Folder Modal -->
                          <div class="modal fade " id="renameFileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header primary_bg">
                                    <h5 class="modal-title">Rename File</h5>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">

                                    <form id="renameFileForm" method="POST" action="">
                                        {%csrf_token%}
                                        <div class="input-group mb-3">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-file"></i></span>
                                          </div>
                                          <input id="targetFileInput" type="text" value="" name="file_new_name" class="form-control" placeholder="File New Name" aria-label="File New Name" aria-describedby="basic-addon1">
                                        </div>
                                        <button type="submit" class="btn primary float-right">Rename</button>

                                    </form>

                                  </div>

                                </div>
                              </div>
                            </div>

                      {% endif %}



                        <!-- Modal -->
                        <div class="modal fade" id="fileDetails{{file.unique_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">File Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                                <table class="table">
                                   <tbody>
                                       <tr>
                                           <td class="text-muted h6 mr-2">Name</td>
                                           <td> </td>
                                           <td class="m-4">{{file.name|truncatechars:35}}</td>
                                       </tr>

                                       <tr>
                                           <td class="text-muted h6 m-4">Type</td>
                                           <td> </td>
                                           <td class="m-4">{{file.type}}</td>
                                       </tr>

                                       <tr>
                                           <td class="text-muted h6 m-4">Size</td>
                                           <td> </td>
                                           <td class="m-4">{{file.size|filesizeformat}}</td>
                                       </tr>

                                       <tr>
                                           <td class="text-muted h6 m-4">Location</td>
                                           <td> </td>
                                           {% if file.parent_folder %}
                                            <td class="m-4"><a href="{% url 'folder:folder' file.parent_folder.unique_id %}"><i class="fa fa-folder"></i> {{file.parent_folder.name}}</a></td>
                                            {% else %}
                                            <td class="m-4"><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a></td>
                                           {% endif %}
                                       </tr>

                                       <tr>
                                           <td class="text-muted h6 m-4">Owner</td>
                                           <td> </td>
                                           <td class="m-4">{{file.user.email}}</td>
                                       </tr>

                                       <tr>
                                           <td class="text-muted h6 m-4">Created</td>
                                           <td> </td>
                                           <td class="m-4">{{file.uploaded_at}}</td>
                                       </tr>

                                       <tr>
                                           <td class="text-muted h6 m-4">Category</td>
                                           <td> </td>
                                           <td class="m-4">{{file.category}}</td>
                                       </tr>
                                   </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                  </div>
                  <!-- Shared File Modal -->
                  <div class="modal fade " id="shareWith" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header primary_bg">
                            <h5 class="modal-title" id="CreateFolderModal">Share With</h5>
                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">

                            <form class="shareForm" >
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                                  </div>
                                  <input type="text" name="userEmail" class="form-control" placeholder="User Email" aria-label="User Email" aria-describedby="basic-addon1">
                                </div>
                                <small id="shareError" class="text-danger"></small>

                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                  <input type="checkbox" class="custom-control-input" id="canView">
                                  <label class="custom-control-label" for="canView">Can View</label>
                                </div>
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                  <input type="checkbox" class="custom-control-input" id="canRename"
                                  {% if not perms.file.change_file %}
                                  disabled
                                  {% endif %}
                                  >
                                  <label class="custom-control-label" for="canRename">Can Rename</label>
                                </div>

                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                  <input type="checkbox" class="custom-control-input" id="canDownload"
                                  {% if not perms.file.can_download_file %}
                                  disabled
                                  {% endif %}
                                  >
                                  <label class="custom-control-label" for="canDownload">Can Download</label>
                                </div>
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                  <input type="checkbox" class="custom-control-input" id="canDelete"
                                  {% if not perms.file.delete_file %}
                                  disabled
                                  {% endif %}
                                  >
                                  <label class="custom-control-label" for="canDelete">Can Delete</label>
                                </div>

                                <button id="submitShare" type="submit" class="btn primary float-right">Share</button>

                            </form>

                          </div>

                        </div>
                      </div>
                    </div>

              </div>
          </div>

    </div>
</div>
<div class="drive-wrapper drive-list-view d-none collapse_list" id="collapse_list">
    <div class="table-responsive drive-items-table-wrapper">
      {% if files %}

        <table class="table">
            <thead>
                <tr>
                    <th class="type"></th>
                    <th class="name truncate text-left">Name</th>
                    <th class="date text-left">Uploaded</th>
                    <th class="size text-left">Size</th>
                    <th class="size text-left">Copy Link</th>
                    {% if perms.file.can_download_file %}
                        <th class="size text-left">Download</th>
                    {% endif %}

                    {% if perms.file.can_add_files_to_trash %}
                        <th class="size text-left">Trash</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td class="type">
                      {% if file.type == 'image/gif' %}
                        <i class="fa-solid fa-photo-film text-danger"></i>
                      {% elif file.category == 'images' %}
                        <i class="fa-solid fa-image text-primary"></i>
                      {% elif file.type == 'application/pdf' %}
                        <i class="fa-solid fa-file-pdf text-success"></i>
                      {% elif file.category == 'docs' %}
                        <i class="fa-solid fa-file-word text-success"></i>
                      {% elif file.category == 'media' %}
                        <i class="fa-solid fa-clapperboard text-danger"></i>
                      {% elif file.category == 'zip' or file.type == 'application/octet-stream' %}
                        <i class="fa-solid fa-file-zipper text-warning"></i>
                      {% else %}
                        <i class="fa fa-file"></i>
                      {% endif %}
                    </td>
                    <td class="name truncate"><a title="{{ file.name }}" href="{{file.get_url}}" target="_blank">{{file.name|truncatechars:35}}</a></td>
                    <td class="date">{{file.uploaded_at}}</td>
                    <td class="size">{{file.size|filesizeformat}}</td>
                    <td class="center"><a id="link-{{file.unique_id}}" class="copy" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Copy Link"><i onclick="CopyFileLink('{{ file.get_url }}', 'link-{{file.unique_id}}')" class="lni lni-link"></i></a></td>
                    {% if perms.file.can_download_file %}
                        <td class="center"><a href="{% url 'download' file.privacy.link %}" class="download" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download" download><i class="lni lni-arrow-down-circle download"></i></a></td>
                    {% endif %}

                    {% if perms.file.can_add_files_to_trash %}
                        <td class="center"><a href="{% url 'file:move_to_trash' file.unique_id %}" class="delete" data-toggle="tooltip" data-placement="top" title="" data-original-title="Move To Trash"><i class="lni lni-trash-can delete"></i></a></td>
                    {% endif %}
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endif %}

{% if files %}
  {% include 'file/files_paginator.html' with files=files %}
{% endif %}

{% if not files and not folders %}
<div class="drive-wrapper drive-grid-view collapse_grid" id="collapse_grid">
    <div class="grid-items-wrapper">
      <div id="main-content" class="file_manager">
              <div class="container-fluid">
                  <div class="row clearfix">
                      {% include 'file/no_files_found.html' %}
                  </div>

              </div>
          </div>

    </div>
</div>
{% endif %}

<script type="text/javascript">
  function CopyFileLink(link, id=null)  {
      const file_id = document.getElementById(id);
      const el = document.createElement('textarea');
      const tooltip_text = file_id.getAttribute('data-original-title')
      el.value = link;
      document.body.appendChild(el);
      el.select();
      document.execCommand('copy');
      document.body.removeChild(el);
      file_id.style.display = "none";

      file_id.setAttribute('data-original-title', 'Copied!')
      setTimeout(function(){
        file_id.style.display = "block";
      }, 100);

      setTimeout(function(){
        file_id.setAttribute('data-original-title', tooltip_text)
      }, 500);

    };

    const grid_toggle = document.getElementById('drive-grid-toggle');
    const list_toggle = document.getElementById('drive-list-toggle');

    grid_toggle.addEventListener('click', (e) => {
      $(".collapse_list").addClass('d-none');
      $(".collapse_grid").removeClass("d-none");
      anime({
        targets: '.collapse_grid',
        translateY: 10,
        direction: 'alternate',
        easing: 'spring(1, 80, 10, 0)'
      })

      anime({
        targets: '.collapse_list',
        translateY: 0,
        direction: 'alternate',
        easing: 'spring(1, 80, 10, 0)'
      })
    });




    list_toggle.addEventListener('click', (e) => {
      $(".collapse_grid").addClass("d-none");
      $(".collapse_list").removeClass("d-none");

      anime({
        targets: '.collapse_grid',
        translateY: 0,
        direction: 'alternate',
        easing: 'spring(1, 80, 10, 0)'
      })

      anime({
        targets: '.collapse_list',
        translateY: 10,
        direction: 'alternate',
        easing: 'spring(1, 80, 10, 0)'
      })
    });

</script>

<script src="{% static 'js/jquery.js' %}" crossorigin="anonymous"></script>

{% include 'initialize.html' %}
<script src="{% static 'js/context.js' %}"></script>
<script>
    context.init({preventDoubleContext: false});
    context.attach('.folder-context-menu', folder_menu);
    context.attach('.file-context-menu', file_menu);
    context.attach('body', body_menu);
</script>
