<script type="text/javascript">
  exampleMenuItemSource = function (selector) {
      if ($(selector).attr('id') == 'PNG_JPG') {
          return [
                  {
                      header: 'Example Dynamic'
                  },
                  {
                      text: 'PNG',
                      action: function(e, selector) { alert('PNG clicked on ' + selector.prop("tagName") + ":" + selector.attr("id")); }
                  },
                  {
                      text: 'JPG',
                      action: function(e, selector) { alert('JPG clicked on ' + selector.prop("tagName") + ":" + selector.attr("id")); }
                  },
                  {   divider: true   },
                  {
                      icon: 'glyphicon-list-alt',
                      text: 'Dynamic nested',
                      subMenu : [
                      {
                          text: 'More dynamic',
                          action: function(e, selector) { alert('More dynamic clicked on ' + selector.prop("tagName") + ":" + selector.attr("id")); }
                      },
                      {
                          text: 'And more...',
                          action: function(e, selector) { alert('And more... clicked on ' + selector.prop("tagName") + ":" + selector.attr("id")); }
                      }
                      ]
                  }
              ]
      } else {
          return [
                  {
                      icon: 'glyphicon-exclamation-sign',
                      text: 'No image types supported!'
                  }
              ]
      }
  }

  var file_menu = {
      id: 'FILE-MENU',
      data: [
          {
              header: 'Actions Menu'
          },
          {
              icon: 'fa-solid fa-eye',
              text: 'Preview',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var url = '{% url "file_base_url" 1111 %}'.replace('1111', selector.attr("link"))
                window.open(url, '_blank')
              }
          },
          {
              divider: true
          },
          {
              header: 'Sharing'
          },
          {
              icon: 'fa-solid fa-users',
              text: 'Shared with',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var url = '{% url "file:shared_with" 1111 %}'.replace('1111', selector.attr("id"))
                window.location.href = url
                }
          },
          {% if perms.sharedobject.can_share_files %}
          {
              icon: 'fa-solid fa-user-plus',
              text: 'Share with',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                 $("#shareWith").modal()
                 localStorage.objectToShare = 'file'
                 localStorage.objectIdToShare = selector.attr("id")
                 $(".shareForm").attr("id", selector.attr("id"))
             }
          },
          {% endif %}
          {
              icon: 'fa-solid fa-link',
              text: 'Copy Link',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var fileLink = selector.children('a').attr('href')
                CopyFileLink(fileLink, selector.attr("id"))
             }
          },
          {
              icon: 'fa-solid fa-lock',
              text: 'Privacy',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var url = '{% url "file:file_settings" 1111 %}'.replace('1111', selector.attr("id"))
                window.location.href = url
              }
          },
          {
              divider: true
          },
          {% if perms.file.can_copy_file %}
          {
              icon: 'fa-solid fa-clone',
              text: 'Copy',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                localStorage.copiedObject = selector.attr("id")
                localStorage.ContextMenuAction = 'copy'
                localStorage.ContextMenuActionObject = 'file'
               }
          },
          {% endif %}
          {% if perms.file.can_move_file %}
          {
              icon: 'fa-solid fa-copy',
              text: 'Cut',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                localStorage.copiedObject = selector.attr("id")
                localStorage.ContextMenuAction = 'cut'
                localStorage.ContextMenuActionObject = 'file'
               }
          },
          {% endif %}
          {
              icon: 'fa-solid fa-star',
              text: 'Add to Starred',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                 alert('Edit clicked on ' + selector.prop("tagName") + ":" + selector.attr("id"));
               }
          },
          {% if perms.file.can_rename_file %}
          {
              icon: 'fa-solid fa-pen-to-square',
              text: 'Rename',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var fileId = selector.attr("id")

                $("#renameFileModal").modal()
                var fileName = selector.children('.file-name').children('a').children('p').text()
                $('#targetFileInput').attr("value", fileName)

                var url = '{% url "file:rename_file" 1111 %}'.replace('1111', fileId)

                $('#renameFileForm').attr('action', url)
               }
          },
          {% endif %}
          {% if perms.file.can_download_file %}
          {
              icon: 'fa-solid fa-cloud-arrow-down',
              text: 'Downlaod',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var url = '{% url "file_api:download" 1111 %}'.replace('1111', selector.attr("id"))
                window.location.href = url
              }
          },
          {% endif %}
          {
              icon: 'fa-solid fa-circle-info',
              text: 'Details',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                $("#fileDetails"+selector.attr("id")).modal()
               }
          },
          {% if perms.file.can_add_files_to_trash %}
          {
              icon: 'fa-solid fa-trash',
              text: 'Move to Trash',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var url = '{% url "file:move_to_trash" 1111 %}'.replace('1111', selector.attr("id"))
                window.location.href = url
              }
          },
          {% endif %}
          {
              icon: 'fa-solid fa-gears',
              text: 'Settings',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var url = '{% url "file:file_settings" 1111 %}'.replace('1111', selector.attr("id"))
                window.location.href = url
              }
          }
      ]
  };

  var folder_menu = {
      id: 'FOLDER-MENU',
      data: [

          {
              header: 'Sharing'
          },
          {
              icon: 'fa-solid fa-users',
              text: 'Shared with',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var url = '{% url "folder:shared_with" 1111 %}'.replace('1111', selector.attr("id"))
                window.location.href = url
                }
          },
          {% if perms.folder.can_share_folder %}
          {
              icon: 'fa-solid fa-user-plus',
              text: 'Share with',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                $("#shareWith").modal()
                localStorage.objectToShare = 'folder'
                localStorage.objectIdToShare = selector.attr("id")
                $(".shareForm").attr("id", selector.attr("id"))
               }
          },
          {% endif %}
          {
              divider: true
          },
          {% if perms.folder.can_copy_folder %}
          {
              icon: 'fa-solid fa-clone',
              text: 'Copy',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                localStorage.copiedObject = selector.attr("id")
                localStorage.ContextMenuAction = 'copy'
                localStorage.ContextMenuActionObject = 'folder'

                }
          },
          {% endif %}
          {% if perms.folder.can_move_folder %}
          {
              icon: 'fa-solid fa-copy',
              text: 'Cut',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                localStorage.copiedObject = selector.attr("id")
                localStorage.ContextMenuAction = 'cut'
                localStorage.ContextMenuActionObject = 'folder'
                }
          },
          {% endif %}
          {% if perms.folder.can_rename_folder %}
          {
              icon: 'fa-solid fa-pen-to-square',
              text: 'Rename',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                 $("#id"+selector.attr("id")+"rename").modal()
               }
          },
          {% endif %}
          {% if perms.folder.can_download_folder %}
          {
              icon: 'fa-solid fa-cloud-arrow-down',
              text: 'Downlaod',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var url = '{% url "folder_api:download" 1111 %}'.replace('1111', selector.attr("id"))
                window.location.href = url
              }
          },
          {% endif %}
          {% if perms.folder.can_delete %}
          {
              icon: 'fa-solid fa-trash',
              text: 'Delete',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                 $("#id"+selector.attr("id")).modal()
               }
          },
          {% endif %}

      ]
  };

  var body_menu = [
      {
          header: 'Actions Menu'
      },
      {
          icon: 'fa-solid fa-paste',
          text: 'Paste Here',
          href: 'javascript:void(0)',
          action: function(e, selector) {
            if (!localStorage.copiedObject){
              return false
            }
            var current_folder = $("#DirectoryID").text()
            var copiedObject = localStorage.getItem("copiedObject");
             payload = {
                 "destination_folder_id": current_folder,
               }

               if(localStorage.ContextMenuActionObject === 'folder'){
                 if(localStorage.ContextMenuAction === 'copy'){
                   var url = '{% url "folder_api:copy" 1111 %}'.replace('1111', copiedObject)
                 }else{
                   var url = '{% url "folder_api:move" 1111 %}'.replace('1111', copiedObject)
                 }
               }else{
                 if(localStorage.ContextMenuAction === 'copy'){
                   var url = '{% url "file_api:copy" 1111 %}'.replace('1111', copiedObject)
                 }else{
                   var url = '{% url "file_api:move" 1111 %}'.replace('1111', copiedObject)
                 }
               }

               $.ajax({
                 type: "PUT",
                 headers: {'X-CSRFToken': '{{csrf_token}}'},
                 dataType: "json",
                 url: url,
                 timeout: 5000,
                 data: payload,
                 success: function(data){
                  location.reload();
                 },
                 error: function(data){
                   $('.context-error').text(data.responseJSON.detail)
                   $('.error').toast('show')
                 },
                 complete: function(data){

                 },
               });

               if(localStorage.ContextMenuAction === 'cut'){
                 localStorage.copiedObject = ''
               }

           }
      },
      {
          icon: 'fa-solid fa-cloud-arrow-up',
          text: 'Upload Here',
          href: 'javascript:void(0)',
          action: function(e, selector) {
            $("#UploadFileModal").modal()
           }
      }
  ];

var shareForm = document.getElementById('submitShare');
shareForm.addEventListener('click', function(event) {
  event.preventDefault();

  var form = document.getElementsByClassName('shareForm')[0]
  var userEmail = form.elements['userEmail']
  var canView = form.elements['canView']
  var canRename = form.elements['canRename']
  var canDownload = form.elements['canDownload']
  var canDelete = form.elements['canDelete']

  if(!userEmail.value){
    $('#shareError').text("User Email is not valid.")
  }else{
    $('#shareError').text("")
  }
  var objectId = localStorage.objectIdToShare

  var url = '{% url "account_api:shared-objects" %}'
  var payload = {
    "object_type": localStorage.objectToShare,
    "object_uuid": objectId,
    "shared_with": userEmail.value,
    "permissions": {
        "can_view": canView.checked,
        "can_rename": canRename.checked,
        "can_download": canDownload.checked,
        "can_delete": canDelete.checked
    }
  }

  $.ajax({
    type: "POST",
    headers: {'X-CSRFToken': '{{csrf_token}}'},
    dataType: "json",
    url: url,
    timeout: 5000,
    data: JSON.stringify(payload),
    contentType: "application/json; charset=utf-8",
    success: function(data){
      $('#shareWith').modal('toggle')
      $(".shareForm").attr("id", "")
      $('.context-error').text("Shared Successfully!")
      var toast = $('.error')
      toast.toast('show')
      toast.find('.toast-header').removeClass("bg-danger")
      toast.find('.toast-header').addClass("bg-success")

    },
    error: function(data){
      $('.context-error').text(data.responseJSON.error_description)
      var toast = $('.error')
      toast.toast('show')
      toast.find('.toast-header').removeClass("bg-success")
      toast.find('.toast-header').addClass("bg-danger")

      console.log(data.responseJSON);
    },
    complete: function(data){
    },
  });



});

</script>
