<script type="text/javascript">
  exampleMenuItemSource = function (selector) {
      if ($(selector).attr('id') == 'PNG_JPG') {
          return [
                  {
                      header: 'Example Dynamic'
                  },
                  {
                      text: 'PNG',
                      action: function(e, selector) { alert('PNG clicked on ' + selector.prop("tagName") + ":" + selector.attr("id")); }
                  },
                  {
                      text: 'JPG',
                      action: function(e, selector) { alert('JPG clicked on ' + selector.prop("tagName") + ":" + selector.attr("id")); }
                  },
                  {   divider: true   },
                  {
                      icon: 'glyphicon-list-alt',
                      text: 'Dynamic nested',
                      subMenu : [
                      {
                          text: 'More dynamic',
                          action: function(e, selector) { alert('More dynamic clicked on ' + selector.prop("tagName") + ":" + selector.attr("id")); }
                      },
                      {
                          text: 'And more...',
                          action: function(e, selector) { alert('And more... clicked on ' + selector.prop("tagName") + ":" + selector.attr("id")); }
                      }
                      ]
                  }
              ]
      } else {
          return [
                  {
                      icon: 'glyphicon-exclamation-sign',
                      text: 'No image types supported!'
                  }
              ]
      }
  }

  var file_menu = {
      id: 'FILE-MENU',
      data: [
          {
              header: 'Actions Menu'
          },
          {
              icon: 'fa-solid fa-eye',
              text: 'Preview',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var url = '{% url "file_base_url" 1111 %}'.replace('1111', selector.attr("link"))
                window.open(url, '_blank')
              }
          },
          {
              divider: true
          },
          {
              header: 'Sharing'
          },
          {
              icon: 'fa-solid fa-users',
              text: 'Shared with',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                 alert('Edit clicked on ' + selector.prop("tagName") + ":" + selector.attr("id"));
                }
          },
          {
              icon: 'fa-solid fa-user-plus',
              text: 'Share with',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                 $("#shareWith").modal()
             }
          },
          {
              icon: 'fa-solid fa-link',
              text: 'Copy Link',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                 alert('Edit clicked on ' + selector.prop("tagName") + ":" + selector.attr("id"));
             }
          },
          {
              icon: 'fa-solid fa-lock',
              text: 'Privacy',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var url = '{% url "file:file_settings" 1111 %}'.replace('1111', selector.attr("id"))
                window.location.href = url
              }
          },
          {
              divider: true
          },

          {
              icon: 'fa-solid fa-paste',
              text: 'Cut',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                localStorage.copiedFolder = selector.attr("id")
               }
          },
          {
              icon: 'fa-solid fa-star',
              text: 'Add to Starred',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                 alert('Edit clicked on ' + selector.prop("tagName") + ":" + selector.attr("id"));
               }
          },
          {
              icon: 'fa-solid fa-pen-to-square',
              text: 'Rename',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                 alert('Edit clicked on ' + selector.prop("tagName") + ":" + selector.attr("id"));
               }
          },

          {
              icon: 'fa-solid fa-cloud-arrow-down',
              text: 'Downlaod',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var url = '{% url "file_api:download" 1111 %}'.replace('1111', selector.attr("id"))
                window.location.href = url
              }
          },
          {
              icon: 'fa-solid fa-circle-info',
              text: 'Details',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                $("#fileDetails"+selector.attr("id")).modal()
               }
          },
          {
              icon: 'fa-solid fa-trash',
              text: 'Move to Trash',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var url = '{% url "file:move_to_trash" 1111 %}'.replace('1111', selector.attr("id"))
                window.location.href = url
              }
          },

          {
              icon: 'fa-solid fa-gears',
              text: 'Settings',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var url = '{% url "file:file_settings" 1111 %}'.replace('1111', selector.attr("id"))
                window.location.href = url
              }
          }
      ]
  };

  var folder_menu = {
      id: 'FOLDER-MENU',
      data: [

          {
              header: 'Sharing'
          },
          {
              icon: 'fa-solid fa-users',
              text: 'Shared with',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                 alert('Edit clicked on ' + selector.prop("tagName") + ":" + selector.attr("id"));
                }

          },
          {
              icon: 'fa-solid fa-user-plus',
              text: 'Share with',
              href: 'javascript:void(0)',
              action: function(e, selector) { alert('Edit clicked on ' + selector.prop("tagName") + ":" + selector.attr("id")); }
          },

          {
              divider: true
          },
          {
              icon: 'fa-solid fa-clone',
              text: 'Copy',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                localStorage.copiedFolder = selector.attr("id")
                localStorage.ContextMenuAction = 'copy'

                }
          },
          {
              icon: 'fa-solid fa-copy',
              text: 'Cut',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                localStorage.copiedFolder = selector.attr("id")
                localStorage.ContextMenuAction = 'cut'
                }
          },
          {
              icon: 'fa-solid fa-pen-to-square',
              text: 'Rename',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                 $("#id"+selector.attr("id")+"rename").modal()
               }
          },

          {
              icon: 'fa-solid fa-cloud-arrow-down',
              text: 'Downlaod',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                var url = '{% url "folder_api:download" 1111 %}'.replace('1111', selector.attr("id"))
                window.location.href = url
              }
          },
          {
              icon: 'fa-solid fa-trash',
              text: 'Delete',
              href: 'javascript:void(0)',
              action: function(e, selector) {
                 $("#id"+selector.attr("id")).modal()
               }
          },

      ]
  };

  var body_menu = [
      {
          header: 'Actions Menu'
      },
      {
          icon: 'fa-solid fa-paste',
          text: 'Paste Here',
          href: 'javascript:void(0)',
          action: function(e, selector) {
            if (!localStorage.copiedFolder){
              return false
            }
            var current_folder = $("#DirectoryID").text()
            var copiedFolder = localStorage.getItem("copiedFolder");
             payload = {
                 "destination_folder_id": current_folder,
               }

               if(localStorage.ContextMenuAction === 'copy'){
                 var url = '{% url "folder_api:copy" 1111 %}'.replace('1111', copiedFolder)
               }else{
                 var url = '{% url "folder_api:move" 1111 %}'.replace('1111', copiedFolder)
               }
               console.log(url);
               $.ajax({
                 type: "PUT",
                 headers: {'X-CSRFToken': '{{csrf_token}}'},
                 dataType: "json",
                 url: url,
                 timeout: 5000,
                 data: payload,
                 success: function(data){
                  location.reload();
                 },
                 error: function(data){
                   $('.context-error').text(data.responseJSON.detail)
                   $('.error').toast('show')
                 },
                 complete: function(data){

                 },
               });

               if(localStorage.ContextMenuAction === 'cut'){
                 localStorage.copiedFolder = ''
               }

           }
      },
      {
          icon: 'fa-solid fa-cloud-arrow-up',
          text: 'Upload Here',
          href: 'javascript:void(0)',
          action: function(e, selector) {
            $("#UploadFileModal").modal()
           }
      }
  ];

</script>
