{% load static %}
{% load define_action %}

<link href="{% static 'uploader/filepond/css/filepond.css' %}" rel="stylesheet" />
<link href="{% static 'uploader/filepond/css/filepond-plugin-image-preview.css' %}" rel="stylesheet">

<link href="{% static 'uploader/css/uploader_page.css' %}" rel="stylesheet" />
<style media="screen">
.filepond--credits{
display: none
}
.filepond--drop-label{
  background-image: url('{% static 'uploader/imgs/grain.png' %}');
  background-repeat: repeat;
}

</style>

 <div class="upload">
 <div class="upload-files">
  <header>
   <p>
    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
    <span class="up">Variiance</span>
    <span class="load"> Cloud</span>
   </p>
  </header>
 </div>
</div>
<input type="file" name="file" multiple>

{% if folder_id %}
    {% define folder_id as folder_id %}
{% else %}
     {% define '' as folder_id %}
{% endif %}

<script src="{% static 'uploader/filepond/js/filepond-plugin-image-preview.js' %}"></script>

<script src="{% static 'uploader/filepond/js/filepond.js' %}"></script>
<script>
    // Get a reference to the file input element
    const inputElement = document.querySelector('input[type="file"]');
    FilePond.registerPlugin(
          FilePondPluginImagePreview,

        );

    // Create a FilePond instance
    const pond = FilePond.create(inputElement);

    let serverResponse = '';
    file = FilePond.setOptions({
      server: {
          process: {
              url: '{% url "uploader:upload" %}',
              method: "POST",
              headers: {'X-CSRFToken': '{{csrf_token}}'},
              ondata: (formData) => {
              formData.append('folder_id', {% if folder_id %} {{ folder_id }} {% else %} '' {% endif %});
              return formData;
          },
          onerror: (response) => {
              response = JSON.parse(response)
              serverResponse = response
          },
          },

      },
    labelFileProcessingError: () => {
        // replaces the error on the FilePond error label
        return serverResponse.message;
    }

    });
    console.log(file);
</script>
