{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Variiance Cloud - Upload</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300'>
<link rel="stylesheet" href="{% static 'uploader/upload_page.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="upload">
  <div class="logo">
    <img class="center img-responsive" style="width:150px;" src="{% static 'accounts/logo.png' %}" alt="">
  </div>
 <div class="upload-files">
  <header>
   <p>
    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
    <span class="up">Variiance</span>
    <span class="load"> Cloud</span>
   </p>

   {% include 'uploader/uploader.html' %}
  </header>
 </div>
</div>
<div class="dashboard-btn">
  <a href="{% url 'home' %}" type="button" class="btn main-bg" name="button">Manage Files <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
</div>

<div class="footer">
  <small><footer><strong class="primary">Variiance CLOUD</strong> - a safe home for all your data</footer></small>
</div>
<!-- <style media="screen">
  body{
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: 150px;
    background-image: url("{% static 'uploader/13.gif' %}");
  }
</style> -->
<!-- partial -->
</body>
</html>
